*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    background-color: black;
    padding:30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body *{
    padding-top:20px;
    padding-bottom: 20px;
}
.neonText, .current-player-turn{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.center{
    text-align: center;
}
.title{
    font-size:4em;
}
.game-container{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
}
.current-player-turn{
    font-size: 2em;
}
.new-game{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    border-radius: 20px;
}
.new-game:active{
    background-color: green;
}
.game-square{
    min-width: 33.3%;
    height:33.3%;
    background-size: cover;
    border:solid 1px white;
}
.top-left{
    border-top:0 !important;
    border-left:0 !important;
}
.top-right{
    border-top:0 !important;
    border-right: 0 !important;
}
.bot-left{
    border-bottom: 0 !important;
    border: 0 !important;
}
.bot-right{
    border-bottom: 0 !important;
    border-right: 0 !important;
}
.top-mid{
    border-top:0 !important;
}
.bot-mid{
    border-bottom: 0 !important;
}
.mid-left{
    border-left: 0 !important;
}
.mid-right{
    border-right: 0 !important;
}
